* {
    margin      : 0;
    padding     : 0;
}

.ie7 img { -ms-interpolation-mode: bicubic; }

/* inline blocks */

.ibw {
  white-space       : nowrap; 
  letter-spacing    : -4px;
  word-spacing      : -4px;  
}

.ibw > li,
.ib {
  display           : -moz-inline-box !important;  /* FF2 or lower */
  display           : inline-block !important;     /* FF3, Opera, Safari */
  white-space       : normal;
  letter-spacing    : normal;
  word-spacing      : normal; 
}


.ie6 .ib, .ie7 .ib,
.ie6 .ibw li,  .ie7 .ibw li { display : inline; } 


body {
    background      : #e4e4db;
    font            : 15px/1.6 Arial;
    color           : #303133;
    padding-bottom  : 30px;
}

header, .addthis_toolbox {
    text-align      : center;
}

.addthis_toolbox a {
    float           : none !important;
    vertical-align  : top;
}


ol, ul, p, dl {
    text-shadow     : -1px 1px 0px #fff;
}

.mosaiqy * {
    text-shadow     : none;    
}

noscript {
    display         : block;
    width           : 400px;
    text-align      : center;
    margin          : 1.5em auto;
    border          : 1px #5D6061 solid;
    color           : #5D6061;
}

a           {  color       : #414141; }
a:visited   {  color       : #666; }

h1 a            {  color       : #fff; text-decoration: none; }
h1 a:visited    {  color       : #fff; }


.socialshare, #demotitle, #demolist ul {
    text-align  : center;
}

#demolist li {
    display     : inline;
    padding     : 0 15px;   
    border-left : 1px #5d6061 solid;
}

    #demolist li:first-child {
        border      : 0;
    }

.github-ribbon {
    background-color    : #999;
    display             : block;
    overflow            : hidden;
    position            : fixed;
    z-index             : 10;
    right               : -3em;
    top                 : 3em;
    -moz-transform      : rotate(45deg);
    -webkit-transform   : rotate(45deg);
    -o-transform        : rotate(45deg);
    transform           : rotate(45deg);
    -moz-box-shadow     : 0 0 1.3em #767676;
    -webkit-box-shadow  : 0 0 1.3em #767676;
    -o-box-shadow       : 0 0 1.3em #767676;
    box-shadow          : 0 0 1.3em #767676;
    margin              : 0;
    padding             : 1px 0;
    border-top          : 1px solid #999;
    border-bottom       : 1px solid #999;
}
  
.github-ribbon a {
    color               : #fff;
    display             : block;
    font-weight         : bold;
    font-size           : 0.8em;
    padding             : 0.4em 5em;
    text-align          : center;
    text-decoration     : none;
    text-shadow         : -1px 1px 0px #525059;
    border-top          : 1px dashed #c2c0c4;
    border-bottom       : 1px dashed #c2c0c4;
}

.ie7 .github-ribbon,
.ie8 .github-ribbon {
    display         : none;
}


hgroup, header, section, .mosaiqy + section {
    display     : block;
}

.mosaiqy + section  {
    padding-bottom      : 3em;
    border-bottom       : 1px #c6c6c9 solid;
    text-align          : center;
}

nav, section {
    margin      : 3em 25px 0 25px;
    text-align  : left;
}



h1, h2, h3, #demotitle {
    font-family     : LeagueGothicRegular;
}


h1 {
    font-size       : 140px;
    line-height     : 0.9;
    font-weight     : normal;
    letter-spacing  : 5px;
    color           : #fff;
    text-transform  : uppercase;
    padding         : 15px 0 0 0;
    text-shadow     : -2px 2px 0 #9e8886;
}


h2, #demotitle  {
    font-weight     : normal;
    padding         : 15px 0 0 0;
    font-size       : 36px;
    color           : #606167;
    text-shadow     : -1px 1px 0px #fff;
}

    
    section h2, dt {
        color           : #A66C6D;
    }
    
    section p + p {
        margin-top      : 1.5em;
    }

.mosaiqy + section  h2 {
    color           : #606167;
    text-shadow     : -1px 1px 0px #fff;
}

h3 {
    font-weight     : normal;
    margin          : 0;
    font-size       : 28px;
    color           : #606167;
    text-shadow     : -1px 1px 0px #fff;
}

header {
    margin-bottom   : 45px;
}

hgroup em {
    font-style      : normal;
    color           : #72707B;
    color          : #A66C6D;
}

header h1:after, header h1:before,
header h2:after, header h2:before {
    font-family      : arial;
    content          : "\2605";
    font-size        : 0.6em;
    padding          : 0 10px;
    display          : inline-block;
    vertical-align   : middle;
}

.ie7 header :after, .ie7 header :before,
.ie8 header :after, .ie8 header :before {
    content          : " ";
}



    section ul {
        margin          : 15px;
    }

    section ol {
        margin          : 15px 20px;    
    }
    
    nav ul {
        text-align      : center;
        list-style      : none;
    }


    nav li {
        padding         : 0 0 0 10px;
        vertical-align  : middle;
    }

        nav li:before {
            content          : "\2605";
            font-size        : 0.8em;
            padding-right    : 10px;
            color            : #fff;
        }
        
        
        .ie7 nav li:before,
        .ie8 nav li:before {
            content          : " ";
        }
        
nav li:first-child:before {
    padding-right    : 0;
    content          : "";
}

section > a, p em, nav a, nav a:visited   {  color       : #A66C6D; }

section > a,
section > a:link,
section > a:visited,
section > a:active {
    float       : right;
    position    : relative;
    top         : 36px;
    text-decoration : none;
    color           : #A66C6D;
}
section > a:before {
    text-decoration : underline;
    padding         : 0 0.25em 0 0;
    color           : #A66C6D;
    content         : "\2605"
}

p em { font-weight: bold; }

address {
    text-align      : center;
}

address img { display:  block; margin: 0 auto;}


dl, code {
    color                   : #414141;
    font-family             : Inconsolata, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    text-shadow             : -1px 1px 0px #f8f8f8;
    -ms-border-radius       : 4px;
    -webkit-border-radius   : 4px;
    -moz-border-radius      : 4px;
    border-radius           : 4px;
    padding                 : 2px 4px;
    border                  : 1px #d0d0d8 solid;
    background              : #D5D6C9;
}


b.ib,
pre {
    white-space             : pre;
    white-space             : pre-wrap;
    word-wrap               : break-word;
}

pre code {
    -ms-border-radius       : 8px;
    -webkit-border-radius   : 8px;
    -moz-border-radius      : 8px;
    border-radius           : 8px;
    padding                 : 15px;
    margin                  : 1.5em 0 1.5em 0;
    min-width               : 650px;
	display					: block;
  	font-size-adjust        : 0.57;
    font-size               : 0.9em;
}


pre code b {
    font-weight     : normal;
    background      : #f2f2f6;
    width           : auto;
    padding         : 2px 4px;
    -ms-border-radius       : 8px;    
    -webkit-border-radius   : 8px;
    -moz-border-radius      : 8px;
    border-radius           : 8px;
    text-shadow     : -1px 1px 0 #E6E8EC;
}


pre code em {
    font-style      : normal;
    color           : #A66C6D;
}

dl {
    height      : auto;
    overflow    : hidden;
    margin-top  : 2.5em;
    padding     : 25px;
    font-size   : 1.05em;
}
dt, dd {
    float       : left;
}
dt {
    width           : 170px;
    clear           : left;
}
dd {
    width           : 70%;
    padding-bottom  : 1.5em;
}

    dd em {
        font-weight : bold;
        display     : block;
        font-size   : 0.9em;
        font-family : arial;
    }

#changelog > div, 
#changelog ul {
    padding-left : 1.5em;
}

#changelog h3 {
    margin-top  : 0.5em;
}
#changelog ul {
    margin-top      : 0;
}
/* -------- paypal form --------- */

fieldset {
    border      : 0;
}

#donate div {
    height          : auto;
    overflow        : hidden;
    clear           : both;
}

#donate  form {
    margin-top          : 1em;    
}

#dwlink a ,
#donate button {
    font-family             : LeagueGothicRegular;
    font-size               : 35px;
    padding                 : 0 30px;
    color                   : #A66C6D;
    border                  : 1px #ccc solid;
    cursor                  : pointer;
    -ms-border-radius       : 8px;
    -webkit-border-radius   : 8px;
    -moz-border-radius      : 8px;
    border-radius           : 8px;
    width                   : auto;
    height                  : 52px;
    float                   : left;
    text-shadow             : -1px 1px 0px #ccc;
    background              : #f2f2f2;
}

#dwlink a:hover,
#donate button:hover {
    border-color        : #A66C6D;
}

#chooseamount {
    margin-bottom   : 1em;    
}

#chooseamount , #choosecurr, #donate button {
    line-height     : 50px;
    float           : left;
    margin-right    : 45px;
}


#mecenate span,
#chooseamount span,
#donate input,
#choosecurr li {
    font-family     : LeagueGothicRegular;
    font-size       : 35px;
    font-weight     : normal;
    background      : #fff;
}


#donate label,
#mecenate *,
#chooseamount * {
    color           : #A66C6D;    
    text-align      : left;
    float           : left;
    height          : 50px;
}

#donate label   { width : 140px; float: none; display: block; height: 30px; line-height: 30px; }
#chooseamount b { width : 20px; font-weight: normal; }

#mecenate span,
#chooseamount span {
    padding         : 0 10px;
    width           : 120px;
    clear           : left;
    border          : 1px #d8d8d8 solid;
}

#mecenate span {
    width           : 455px;
    margin          : 0 45px 1em 0;
}

#mecenate input {
    border          : 0;
    width           : 455px;
    font-family     : LeagueGothicRegular;
    font-size       : 35px;    
}

#mecenate button {
    margin          : 0 0 1em 0;
}


#chooseamount input {
    border          : 0;
    width           : 90px;
    line-height     : 50px;
    font-family     : LeagueGothicRegular;
    font-size       : 35px;
}

#choosecurr ul {
    list-style-type     : none;
    margin              : 0;
}
#choosecurr li {
    color           : #868688;    
    width           : 70px;
    float           : left;
    cursor          : pointer;
    text-align      : center;
    margin          : 0 3px 0 0;
    background      : #D5D6C9;
}
#choosecurr li span {
    padding         : 0 15px;
    margin          : 2px;
    height          : 45px;
    display         : block;
    border          : 1px #f2f2f6 solid;
}
#choosecurr li:hover span {
    border-color    : #A66C6D;
}

#choosecurr li.current:hover span {
     border-color    : #D5D6C9;
}
#choosecurr li.current {
    background      : #A66C6D;
    color           : #D5D6C9;
    text-shadow     : none;
}

/* -------- download links -------- */

#dwlink {
    height      : auto;
    overflow    : hidden;
}

#dwlink a {
    margin-right    : 45px;
    height          : auto;
    padding         : 5px 10px;
    text-decoration : none;
}

#dwlink ins {
    font            : Arial;
    display         : block;
    color           : #ccc;
    text-decoration : none;
    text-shadow     : none;
    font            : 0.3em Arial;
    padding-bottom  : 10px;
}

#about {
    margin-top      : 0;
}

    


@media print {
    
    body, ol, ul, p, dl, dt, dd, code, pre, h1, h2, h3, code b  {
        text-shadow : none !important;
    }
	
	dl {
		overflow	: auto;
	}

    dt, dd {
        float       : none !important;
    }
    
    body {
        font-size   : 10pt;
        color       : #414141;
    }
    
    pre { border: 0; }
    
    
    h1, h2, h3 {
        font-family     : georgia;
    }
    
    h1 {  font-size       : 25pt; }
    h2 {  font-size       : 20pt; }
    h3 {  font-size       : 15pt; }
    
    a {
        text-decoration : none;
    }
    
    a[href^="http://"]:link:after,
    a[href^="http://"]:visited:after {
      content       : "(" attr(href) ")";
      font-size     : 10pt;
      margin-left  : 0.5em;
      font-style    : italic;
      text-decoration : underline;
      color           : #888
    }
    
    h1 a:link:after,
    h1 a:visited:after  {
        content     : "";
    }
    
    header {
        border-bottom       : 1pt #888 solid;
    }

    header h3, .github-ribbon, .mosaiqy, .noprint { display: none; }
    
    a[href^="#"] { display: none; }

    pre, code {
        page-break-inside: avoid;
    }

}