* {
    margin      : 0;
    padding     : 0;
}


/* inline blocks */

.ibw {
  white-space       : nowrap; 
  letter-spacing    : -4px;
  word-spacing      : -4px;  
}

.ibw > li,
.ib {
  display           : -moz-inline-box;  /* FF2 or lower */
  display           : inline-block;     /* FF3, Opera, Safari */
  white-space       : normal;
  letter-spacing    : normal;
  word-spacing      : normal; 
}


.ie6 .ib, .ie7 .ib,
.ie6 .ibw li,  .ie7 .ibw li { display : inline; } 



body {
    background      : #e4e4db;
    font            : 15px/1.6 Arial;
    color           : #303133;
    padding-bottom  : 30px;
}

ol, ul, p {
    text-shadow     : -1px 1px 0px #fff;
}

noscript {
    display         : block;
    width           : 400px;
    text-align      : center;
    margin          : 1.5em auto;
    border          : 1px #5D6061 solid;
    color           : #5D6061;
}

a           {  color       : #414141; }
a:visited   {  color       : #666; }

h1 a            {  color       : #fff; text-decoration: none; }
h1 a:visited    {  color       : #fff; }

#demolist ul {
    text-align  : center;
}
#demolist li {
    display     : inline;
    padding     : 0 15px;
    border-left : 1px #5d6061 solid;
}

    #demolist li:first-child {
        border      : 0;
    }

.github-ribbon {
    background-color    : #999;
    display             : block;
    overflow            : hidden;
    position            : fixed;
    z-index             : 10;
    right               : -3em;
    top                 : 3em;
    -moz-transform      : rotate(45deg);
    -webkit-transform   : rotate(45deg);
    -o-transform        : rotate(45deg);
    transform           : rotate(45deg);
    -moz-box-shadow     : 0 0 1.3em #767676;
    -webkit-box-shadow  : 0 0 1.3em #767676;
    -o-box-shadow       : 0 0 1.3em #767676;
    box-shadow          : 0 0 1.3em #767676;
    margin              : 0;
    padding             : 1px 0;
    border-top          : 1px solid #999;
    border-bottom       : 1px solid #999;
}
  
.github-ribbon a {
    color               : #fff;
    display             : block;
    font-weight         : bold;
    font-size           : 0.8em;
    padding             : 0.4em 5em;
    text-align          : center;
    text-decoration     : none;
    text-shadow         : -1px 1px 0px #525059;
    border-top          : 1px dashed #c2c0c4;
    border-bottom       : 1px dashed #c2c0c4;
  }

hgroup, header, section, .mosaiqy + section {
    display     : block;
    text-align  : center;
}

.mosaiqy + section  {
    padding-bottom      : 3em;
    border-bottom       : 1px #c6c6c9 solid;
}

nav, section {
    margin      : 3em 25px 0 25px;
    text-align  : left;
}

h1, h2, h3 {
    font-family     : LeagueGothicRegular;
}


h1 {
    font-size       : 140px;
    line-height     : 0.9;
    font-weight     : normal;
    letter-spacing  : 5px;
    color           : #fff;
    text-transform  : uppercase;
    padding         : 15px 0 0 0;
    text-shadow     : -2px 2px 0 #9e8886;
}


h2 {
    font-weight     : normal;
    padding         : 15px 0 0 0;
    font-size       : 36px;
    color           : #606167;
    text-shadow     : -1px 1px 0px #fff;
}

    section h2 {
        color           : #A66C6D;
    }
    
    section p + p {
        margin-top      : 1.5em;
    }

.mosaiqy + section  h2 {
    color           : #606167;
    text-shadow     : -1px 1px 0px #fff;
}

h3 {
    font-weight     : normal;
    margin          : 0;
    font-size       : 28px;
    color           : #606167;
    text-shadow     : -1px 1px 0px #fff;
}

header {
    margin-bottom   : 45px;
}

hgroup em {
    font-style      : normal;
    color           : #72707B;
    color          : #A66C6D;
}

header h1:after, header h1:before,
header h2:after, header h2:before {
   content          : "\2605";
   font-size        : 0.6em;
   padding          : 0 10px;
   display          : inline-block;
   vertical-align   : middle;
}


    section ul {
        margin          : 15px;
    }

    section ol {
        margin          : 15px 20px;    
    }
    
    nav ul {
        text-align      : center;
        list-style      : none;
    }


    nav li {
        padding         : 0 0 0 10px;
        vertical-align  : middle;
    }

        nav li:before {
            content          : "\2605";
            font-size        : 0.8em;
            padding-right    : 10px;
            color            : #fff;
        }
        
        nav li:first-child:before {
            padding-right    : 0;
            content          : "";
        }

        p em, nav a, nav a:visited   {  color       : #A66C6D; }

        p em { font-weight: bold; }

address {
    text-align      : center;
}

address img { display:  block; margin: 0 auto;}


code {
    color           : #414141;
    font-family     : Inconsolata, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    text-shadow     : -1px 1px 0px #f8f8f8;
    -ms-border-radius       : 4px;
    -webkit-border-radius   : 4px;
    -moz-border-radius      : 4px;
    border-radius           : 4px;
    padding                 : 2px 4px;
    border                  : 1px #d0d0d8 solid;
    background              : #D5D6C9;
}


b.ib,
pre {
    white-space             : pre;
    white-space             : pre-wrap;
    word-wrap               : break-word;
}

pre code {
    -ms-border-radius       : 8px;
    -webkit-border-radius   : 8px;
    -moz-border-radius      : 8px;
    border-radius           : 8px;
    padding                 : 15px;
    margin                  : 1.5em 0 1.5em 0;
    min-width               : 650px;
	display					: block;
  	font-size-adjust        : 0.57;
    font-size               : 0.9em;
}

pre code b {
    font-weight     : normal;
    background      : #f2f2f6;
    width           : auto;
    padding         : 2px 4px;
    -ms-border-radius       : 8px;    
    -webkit-border-radius   : 8px;
    -moz-border-radius      : 8px;
    border-radius           : 8px;
    text-shadow     : -1px 1px 0 #E6E8EC;
}



.ie7 img { -ms-interpolation-mode: bicubic; }