.mosaiqy { 
    overflow        : hidden;
    position        : relative;
    z-index         : 1;
}

.mosaiqy * {
    margin      : 0;
    padding     : 0;
}


.mosaiqy ul {
    list-style      : none;
    padding         : 0;
    margin          : 0;    
}

.js .mosaiqy li {
    position        : absolute;
    z-index         : 1;
    display         : block;
}

.mosaiqy figure {  
    display         : block;
}

.mosaiqy img {
    display         : block;
    border          : 0;
}


.js .loading.mosaiqy img {
    display           : none;
}


.mosaiqy figcaption {
    display         : none;    
    position        : absolute;
    z-index         : 2;
    top             : 0;
    left            : 0;
    background      : rgba(245, 245, 245, 0.3);      
    height          : 100%;
    width           : 100%;
}

.mosaiqy a:hover figcaption {
    display         : block;    
}

.mosaiqy li,
.mosaiqy li img {
      -moz-transition-property              : all;
      -moz-transition-timing-function       : ease-out;
      -moz-transition-delay                 : 0s;
      
      -o-transition-property                : all;
      -o-transition-timing-function         : ease-out;
      -o-transition-delay                   : 0s;
      
      -webkit-transition-property           : all;
      -webkit-transition-timing-function    : ease-out;
      -webkit-transition-delay              : 0s;
      
      transition-property                   : all;
      transition-timing-function            : ease-out;
      transition-delay                      : 0s;
}

/* *  * */
.mosaiqy li,
.mosaiqy img {
    width           : 200px;
    height          : 135px;
}

.mosaiqy li {
    padding         : 0;
}
